doctype
html
    head
        meta(charset="UTF-8")
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        title Global Opt
    body
        header
            .container
                .header_nav
                    .row
                        .header_wrapper
                            .header_logo
                                img(src="/src/icons/globt_logo.png")
                            .nav
                                a.nav_advant Преимущества
                                a.nav_works Наша работа
                                a.nav_prices Цены
                                a.nav_scheme Схема работы
                                a.nav_reviews Отзывы
                                a.nav_contacts Контакты
                            .phone
                                .phone_descr Есть вопросы?
                                a(href="tel: +79264230100")
                                    .phone_number +7 (926) 423 01 00
                            button.header_btn1 Перезвонить мне
                        button.header_btn2 Перезвонить мне
                .header_descr
                    .row
                        .col-10.offset-1
                            .header_globt_is Global Opt - логистика полного цикла из Китая в Россию
                            .header_title ДОСТАВКА ГРУЗОВ ИЗ КИТАЯ
                            .header_subtitle В РОССИЮ И СНГ ВСЕМИ ВИДАМИ ТРАНСПОРТА

                .header_divider
                    .row
                        .col-10.offset-1(style="display:flex; justify-content: space-between; ")
                            .header_line
                            .header_circ
                            .header_line
                
                .header_abilities
                    .abil_wrapper
                        .abil_item
                            img.abil_img(src="/src/icons/abil1.png", alt="")
                            .abil_descr Перевозка негабаритных и крупнотоннажных грузов
                        .abil_item
                            img.abil_img(src="/src/icons/abil2.png", alt="")
                            .abil_descr Самостоятельно декларируем и проводим таможенную очистку с оптимизацией кодов и ставок
                        .abil_item
                            img.abil_img(src="/src/icons/abil3.png", alt="")
                            .abil_descr Осуществляем прямые поставки с заводов от двери до двери
                        .abil_item
                            img.abil_img(src="/src/icons/abil4.png", alt="")
                            .abil_descr Экспресс доставка 1-2 дня из Гуан- чжоу в Москву от 25$/кг

                .row
                    button.header_bottom_btn получить расчет
        .btn-up
            .material-icons keyboard_arrow_up
        
        section.advantages
            .container(style="width: 1300px;")
                .row
                    .col-6.offset-3
                        .adv_title.title Преимущества работы с GlobalOpt
                    .row(style="width: 1100px;margin: 0 auto;")
                        .col-6
                            .adv_block
                                .adv_img
                                    img(src="/src/icons/adv_1.png", alt="")
                                .adv_descr
                                    .descr_title Офис в Китае и России
                                    .descr_text Офисы расположены в Москве, столице России. И в Гуанчжоу, мировом торговом мегаполисе Китая.
                        .col-6
                            .adv_block
                                .adv_img
                                    img(src="/src/icons/adv_2.png", alt="")
                                .adv_descr
                                    .descr_title Декларируем груз с оптимизацией
                                    .descr_text Идем на встречу своим клиентам и помогаем растаможить груз с оптимизацией кодов и ставок.
                        .col-6
                            .adv_block
                                .adv_img
                                    img(src="/src/icons/adv_3.png", alt="")
                                .adv_descr
                                    .descr_title Квалифицированные кадры
                                    .descr_text Наши сотрудники имеют большой опыт в логистике с Китаем и в совершенстве владеют китайским и английским языками.
                        .col-6
                            .adv_block
                                .adv_img
                                    img(src="/src/icons/adv_4.png", alt="")
                                .adv_descr
                                    .descr_title Осуществляем поиск производителей
                                    .descr_text Помогаем нашим клиентам найти интересующий вас товар или производителя в Китае.
                        .col-6
                            .adv_block
                                .adv_img
                                    img(src="/src/icons/adv_5.png", alt="")
                                .adv_descr
                                    .descr_title Собственный склад в Китае
                                    .descr_text Свой склад в Китае, позволяет собирать и проверять и упаковывать ваши товары, перед отправкой.
                        .col-6
                            .adv_block
                                .adv_img
                                    img(src="/src/icons/adv_6.png", alt="")
                                .adv_descr
                                    .descr_title Перевод денег в Китай
                                    .descr_text Помогаем переводить и оплачивать товар в Китае на льготных условиях
                        .col-6
                            .adv_block(style="align-items:flex-start;")
                                .adv_img
                                    img(src="/src/icons/adv_7.png", alt="")
                                .adv_descr
                                    .descr_title Делаем оптовые поставки под ключ
                                    .descr_text Берём на себя все заботы связанные с закупкой, проверкой на качество, логистикой и растаможкой. От вас требуется лишь заполнить техническое задание, одобрить образцы товаров и после принять товар на своём складе!
                        .col-6
                            .adv_block(style="align-items:flex-start;")
                                .adv_img
                                    img(src="/src/icons/adv_8.png", alt="")
                                .adv_descr
                                    .descr_title Поездка на производство в Китай
                                    .descr_text У нас большой опыт в бизнес поездках по Китаю. Мы с большой радостью и желанием организуем вам такую поездку в Китай под ключ. Сделаем визу, трансфер из аэропорта, забронируем отель, предоставим переводчика. Организуем поездку на производство. Шоп тур. Мебельный тур.
        
        section.job_info
            .container
                .row
                    .col-8.offset-2
                        .job_info_title.title Наша работа - больше чем просто доставка
                        .job_info_divider.divider
                        .job_info_subtitle.subtitle Мы организуем перевозки из Китая - оперативно и надежно, с учетом особенностей груза и ваших требований по срокам и бюджету.
                    .col-4
                        .job_card
                            img(src="/src/img/card_img1.png", alt="").job_card_img
                            .job_card_descr
                                .job_card_title.descr_title Страховка груза
                                .job_card_text.descr_text Все грузы, логистику которых осуществляет Global Opt, застрахованы. Мы гарантируем полное возмещение стоимости груза в случаях, предусмотренных страховым соглашением. Все ваши тревоги наша компания берет на себя.
                    .col-4
                        .job_card
                            img(src="/src/img/card_img2.png", alt="").job_card_img
                            .job_card_descr
                                .job_card_title.descr_title Логистика последней мили
                                .job_card_text.descr_text Мы осуществляем доставку вашего груза до конкретного адреса. Привоз согласовывается менед- жерами по телефону, предварительно за сутки и за час до доставки. Также мы предоставляем услуги грузчиков по месту доставки груза.
                    .col-4
                        .job_card
                            img(src="/src/img/card_img3.png", alt="").job_card_img
                            .job_card_descr
                                .job_card_title.descr_title Мы всегда смотрим вперед
                                .job_card_text.descr_text Философия нашей компании, делать себя и своих партнеров по всему миру, успешными и богатыми. Поэтому мы всегда открыты к диалогу о партнерстве и инвестициях.
        section.chinese_agent
            .container
                img(src="/src/icons/china_agent.png", alt="").agent_icon
                .agent_title Агент в Китае
                .agent_text Русскоговорящие представители компании без труда найдут именно тот товар, который будет отвечать Вашим запросам как по качеству, так и по цене.

        section.prices
            .container
                .row
                    .col-8.offset-2
                        .prices_title.title Цены на любой вариант доставки
                        .prices_divider.divider
                        .prices_subtitle.subtitle Перевозки грузов на дальние расстояния без каких-либо ограничений. Любой груз доставим вовремя.
                .row
                    .col
                        .prices_card
                            .prices_card_head Доставка морем
                            .prices_body
                                img.prices_card_icon(src="/src/icons/prices_card_icon1.png", alt="")
                                .prices_card_subtitle Доставка 35-50 дней
                                .prices_card_title от 0,3$ за 1 кг
                                .prices_card_descr Морские перевозки грузов из Китая в Россию за 35 дней с прохождением таможни
                                button.prices_card_btn подробнее
                    .col
                        .prices_card
                            .prices_card_head Ж/Д доставка
                            .prices_body
                                img.prices_card_icon(src="/src/icons/prices_card_icon2.png", alt="")
                                .prices_card_subtitle Доставка 15-28 дней
                                .prices_card_title от 1$ за 1 кг
                                .prices_card_descr ЖД перевозки грузов из Китая в Россию от 2 недель с прохождением таможни
                                button.prices_card_btn подробнее
                    .col
                        .prices_card
                            .prices_card_head Автодоставка
                            .prices_body
                                img.prices_card_icon(src="/src/icons/prices_card_icon3.png", alt="")
                                .prices_card_subtitle Доставка 12-20 дня
                                .prices_card_title от 1$ за 1 кг
                                .prices_card_descr Автоперевозки грузов из Китая в Россию от 2 недель с прохождением таможни
                                button.prices_card_btn подробнее
                    .col
                        .prices_card
                            .prices_card_head Авиа доставка
                            .prices_body
                                img.prices_card_icon(src="/src/icons/prices_card_icon4.png", alt="")
                                .prices_card_subtitle Доставка 1-12 дней
                                .prices_card_title от 6$ за 1 кг 
                                .prices_card_descr Авиаперевозки грузов из Китая в Россию до 2 недель с прохождением таможни
                                button.prices_card_btn подробнее

                .row
                    .col-6.offset-3
                        .consult_title Заказать бесплатную консультацию
                    .consult_form
                        .consult_inputs
                            input.consult_input(placeholder="Ваше имя...")
                            input.consult_input(placeholder="Ваш номер телефона...")
                            input.consult_input(placeholder="Ваш e-mail...")
                img(src="/src/icons/consult_icon.png").consult_icon
                button.consult_btn Отправить заявку
        
        section.managers
            .container
                img(src="/src/icons/manager_icon.png").manager_icon
                .manager_title Менеджеры компании
                .manager_text Подберут для Вас оптимальную схему грузоперевозки. Проведут контроль закупок, организуют прямые поставки от завода-изготовителя.

        section.scheme
            .container
                .scheme_title.title Схема работы с нами
                .row
                    .col-3
                        .scheme_item
                            img.scheme_icon(src="/src/icons/scheme_icon1.png", alt="")
                            .descr_title.scheme_item_title Заявка
                            .descr_text.scheme_descr Вы оставляете заявку на нашем сайте или звоните нам 
                    .col-3
                        .scheme_item
                            img.scheme_icon(src="/src/icons/scheme_icon2.png", alt="")
                            .descr_title.scheme_item_title Аналитика доставки
                            .descr_text.scheme_descr Мы просчитываем варианты доставки Вашего груза
                    .col-3
                        .scheme_item
                            img.scheme_icon(src="/src/icons/scheme_icon3.png", alt="")
                            .descr_title.scheme_item_title Договор
                            .descr_text.scheme_descr Заключаем с Вами договор о поставке груза из Китая
                    .col-3
                        .scheme_item
                            img.scheme_icon(src="/src/icons/scheme_icon4.png", alt="")
                            .descr_title.scheme_item_title Доставка на наш склад
                            .descr_text.scheme_descr Связываемся с Вашим поставщиком в Китае и договариваемся о доставке груза на наш склад
                    .row(style="display:flex;justify-content: center; margin-top: 20px;")
                        .col-3
                            .scheme_item
                                img.scheme_icon(src="/src/icons/scheme_icon5.png", alt="")
                                .descr_title.scheme_item_title Проверка груза
                                .descr_text.scheme_descr Мы проверяем, собираем и упаковываем перед отправкой Ваш груз на своём складе
                        .col-3
                            .scheme_item
                                img.scheme_icon(src="/src/icons/scheme_icon6.png", alt="")
                                .descr_title.scheme_item_title Доставка груза
                                .descr_text.scheme_descr Мы перевозим ваш груз до места назначения и производим таможенную очистку
                        .col-3
                            .scheme_item
                                img.scheme_icon(src="/src/icons/scheme_icon7.png", alt="")
                                .descr_title.scheme_item_title Оплата
                                .descr_text.scheme_descr Оплачиваете доставку груза при получении

        section.reviews
            .container
                .reviews_title.title отзывы наших клиентов
                .reviews_divider.divider
                .reviews_subtitle.subtitle Мы всегда стараемся помочь клиентам, чтобы они обращались к нам снова
                .row
                    .col-10(style=" margin: 0 auto;")
                        .reviews_wrapper
                            .reviews_item
                                img.reviews_img(src="/src/img/review1.png", alt="")
                                .reviews_descr_block
                                    .reviews_descr_title Анисимова Ольга
                                    .reviews_descr_text Хочу рассказать о компании Global Opt. Самое главное что меня радует, это быстрый поиск и анализ определенного товара. Доставляла через компанию уже много раз, от расходных материалов для отеля, ло дольших партий детской одежды. Буду продолжать пользтваьбся услугами даной компании
                                
                            .reviews_item
                                img.reviews_img(src="/src/img/review2.png", alt="")
                                .reviews_descr_block
                                    .reviews_descr_title Анисимова Ольга
                                    .reviews_descr_text Хочу рассказать о компании Global Opt. Самое главное что меня радует, это быстрый поиск и анализ определенного товара. Доставляла через компанию уже много раз, от расходных материалов для отеля, ло дольших партий детской одежды. Буду продолжать пользтваьбся услугами даной компании
                                
                            .reviews_item
                                img.reviews_img(src="/src/img/review3.png", alt="")
                                .reviews_descr_block
                                    .reviews_descr_title Анисимова Ольга
                                    .reviews_descr_text Хочу рассказать о компании Global Opt. Самое главное что меня радует, это быстрый поиск и анализ определенного товара. Доставляла через компанию уже много раз, от расходных материалов для отеля, ло дольших партий детской одежды. Буду продолжать пользтваьбся услугами даной компании

        section.question_form
            .qform_wrapper
                .qform_head
                    .qform_title Остались вопросы?
                    .qform_text_us Напишите нам!
                .qform_body
                    .qform_data_inputs
                        input(placeholder="Ваше имя...")
                        input(placeholder="Ваш номер телефона...")
                        input(placeholder="Ваш e-mail...")
                    input(placeholder="Сообщение...").qform_text_input
                    button.qform_btn отправить заявку

        section.map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d519.7877281517982!2d37.627098587092654!3d55.74795393170804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54af91f789d57%3A0xd54d5dc3a4d67dcf!2z0KHQsNC00L7QstC90LjRh9C10YHQutCw0Y8g0L3QsNCxLiwgNSwg0JzQvtGB0LrQstCwLCAxMTUwMzU!5e0!3m2!1sru!2sru!4v1617360463286!5m2!1sru!2sru' width='100%' height='700' style='border:0;' allowfullscreen='' loading='lazy')
            .map_addres
                .map_title г. Москва
                .map_street ул. Садовническая, дом 5, офис 4-6
                .map_distance 700м от м. Новокузнецкая
                a(href="tel: +79264230100").map_phone + 7 (926) 423 01 00
                a(href="mailto:info@glopt.ru").map_email info@glopt.ru

        footer
            .container
                .footer_wrapper
                    .footer_block1
                        img(src="/src/icons/globt_logo.png", alt="").footer_globt_logo
                        .footer_text Global Opt - Доставка грузов из Китая в Россию и СНГ
                    .footer_block2
                        .footer_info
                            .footer_info_text Есть вопросы?
                            a(href="tel:+79264230100").footer_info_phone +7 (926) 423 01 00
                        button.footer_btn Перезвоните мне
 

