// scss использую только из-за стрелочек, в остальном это чистый css



header {
    height: 730px;
    background: url('/src/img/header_bg.png') center center/cover no-repeat;
}


.header_wrapper {
    width: 964px;
    display: flex;
    justify-content: space-between;
}


.phone {
    width: 163px;
    margin-top: 48px;

    > * {
        text-align: right;
        color: white;
    }
    > :first-child {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 14px;
    }
    > :last-child {
        font-family: 'Roboto';
        font-weight: 700;
        text-decoration: none;
        font-size: 19px;
    }

}


.nav {
    display: flex;
    margin-left: 0px;
    height: 14px;
    margin-top: 50px;
    > * {
        border-right: 1px dotted #82848A;
        padding-right: 14px;
        margin-right: 14px;
        color: white;
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 400;
    }
    > *:hover {
        color: #ec644b;
        text-decoration: underline;
    }
    > :last-child {
        border: none;
    }
}


.header_btn1 , .header_btn2 {
    width: 160px;
    height: 45px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 0;
    margin-top: 44px;
}

.header_btn1 {
    display: none;
}

.header_descr {
    margin-top: 9px;
}

.header_globt_is {
    margin-top: 1px;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}


.header_title {
    font-family: 'Roboto Condensed';
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ec644b;
    text-align: center;
}


.header_subtitle {
    font-family: 'Roboto Condensed';
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}



.header_divider {
    width: 809px;
    margin: 0 auto;
    margin-top: 38px;
}

.header_line {
    width: 387.5px;
    height: 1px;
    background: white;
    margin-top: 4px;
}

.header_circ {
    margin: 0 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
}


.header_abilities {
    margin-top: 41px;
}


.abil_wrapper {
    display: flex;
    justify-content: space-between;
}

.abil_item {
    width: 260px;
}

.abil_img {
    display: block;
    margin: 0 auto;
}


.abil_descr {
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}




.header_bottom_btn {
    width: 230px;
    height: 57px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 39px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}







// advantages 


.advantages {
    padding-top: 58px;
    height: 590px;
    background-color: #f3f3f3;
}

.adv_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
    margin-bottom: 36px;
}

.adv_title {
    margin-bottom: 31px;
}

.adv_descr {
    width: 430px;
}

.descr_text {
    font-size: 14px;
    font-weight: 300;
    color: black;
}

.descr_title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    color: #ec644b;
}





// about job




.job_info {
    height: 619px;
    padding-top: 51px;
}


.job_info_divider {
    margin-top: 20px;
    margin-bottom: 17px;
}


.job_info_subtitle {
    margin-bottom: 37px;
}


.job_card_descr {
    text-align: center;
}

.job_card_title {
    margin-top: 30px;
    
}




// agent 



.chinese_agent {
    height: 342px;
    background: url('/src/img/china_bg.png') center center/cover no-repeat;
    padding-top: 58px;
}


.agent_icon {
    display: block;
    margin: 0 auto;
}

.agent_title {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    width: 171px;
    margin: 0 auto;
    margin-top: 20px;
}

.agent_text {
    width: 984px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 22px;
    text-align: center;
}



// prices


.prices {
    height: 1025px;
    padding-top: 53px;
}

.prices_divider {
    margin-top: 20px;
}

.prices_subtitle {
    margin-top: 17px;
    margin-bottom: 34px;
}


.prices_card {
    height: 357px;
    border: 1px solid #e9e9e9;
}

.prices_card_head {
    height: 61px;
    background-color: #25333c;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 20px;
}


.prices_body {
    height:293px;
}

.prices_card_icon {
    margin: 0 auto;
    margin-top: 14px;
}

.prices_card_subtitle {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2e2e2e;
    text-align: center;
}

.prices_card_title {
    font-size: 28px;
    text-transform: none;
    color: #ec644b;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
}

.prices_card_descr {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #2e2e2e;
    text-align: center;
    margin-top: 5px;
}

.prices_card_btn {
    width: 160px;
    height: 45px;
    display: block;
    font-family: Roboto;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 25px;
}


.consult_title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    color: #3a3a3a;
    text-align: center;
    margin-top: 55px;
}

.consult_form {
    width: 1140px;
    height: 186px;
    border: 1px solid #898989;
    display: flex;
    align-items: center;
    margin-top: 71px;
}

.consult_inputs {
    width: 820px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.consult_input {
    width: 270px;
    height: 53px;
    border-radius: 25px;
}


.consult_btn {
    width: 206px;
    height: 71px;
    display: block;
    font-family: Roboto;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 35px;
    margin: 0 auto;
    border: 13px solid white;
    transform: translate(0, -150px);
}


.consult_icon {
    border: 13px solid white;
    display: block;
    margin: 0 auto;
    transform: translate(0, -250px);
    background:white;
    border-bottom:0;
}








// managers 



.managers {
    height: 342px;
    background: url('/src/img/manager_bg.png') center center/cover no-repeat;
    padding-top: 58px;
}

.manager_icon {
    display: block;
    margin: 0 auto;
}

.manager_title {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    width: 283px;
    margin: 0 auto;
    margin-top: 20px;
}

.manager_text {
    width: 984px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 18px;
    text-align: center;
}




// scheme


.scheme {
    height:454px;
    background-color: #f3f3f3;
    padding-top: 51px;
}

.scheme_title {
    width: 307px;
    margin-bottom: 30px;
}

.scheme_icon {
    display: block;
    margin: 0 auto;
}

.scheme_item_title {
    text-align: center;
}

.scheme_descr {
    text-align: center;
}


.scheme_bottom_items {
    margin: 0 auto;
}


// reviews

.reviews {
    height: 1070px;
    padding-top: 51px;
}

.reviews_divider {
    margin-top: 25px;
}

.reviews_subtitle {
    margin-top: 17px;
}

.reviews_wrapper {
    height: 784px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.reviews_img {
    width: 169px;
    height: 169px;
}

.reviews_item {
    width: 881px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews_descr_block {
    width: 650px;
}

.reviews_descr_title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    color: #3a3a3a;
}

.reviews_descr_text {
    font-size: 14.1px;
    font-weight: 300;
    font-family: Roboto;
    font-size: 18px;
    color: #3a3a3a;
}


// question form



.question_form {
    height: 438px;
    background: url('/src/img/qform_bg.png') center center/cover no-repeat;
    padding-top: 62px;
}

.qform_wrapper {
    width: 896px;
    height: 297px;
    margin: 0 auto;
}

.qform_head {
    height: 68px;
    background-color: #25333c;
    text-align: center;
    padding-top: 15px;
}

.qform_title {
    font-family: Roboto;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.qform_text_us {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 5px;
}


.qform_body {
    position: relative;
}


.qform_body {
    height: 229px;
    background: url('/src/img/qform_body.png') center center/cover no-repeat;
    padding-top: 17px;
}


.qform_data_inputs {
    width: 820px;
    margin: 0 auto;
    > * {
        width: 270px;
        height: 47px;
        border-radius: 25px;
    }
}


.qform_text_input {
    display: block;
    border: 1px solid rgba(0,0,0,0.2);
    width: 815px;
    height: 73px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 6px;
}

.qform_btn {
    width: 180px;
    height: 45px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 16px;
}

/* г. Москва
ул. Садовническая, дом 5, офис 4-6
700 от м. Новокузнецкая
Тел: +7 (926) 423 01 00
info@glopt.ru 
*/


// map 

.map {
    position: relative;
}

.map_addres {
    width: 400px;
    height: 250px;
    background: #C74200;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}




.map_email {
    cursor: pointer;
}

// footer



footer {
    height: 120px;
    background-color: #25333c;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.footer_text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
}

.footer_info_phone {
    font-family: Roboto;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
}

.footer_info_text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.footer_btn {
    width: 160px;
    height: 45px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.footer_block1 {
    width: 530px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer_block2 {
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
